.login-wrapper {
  position: relative;
  .back-btn {
    width: fit-content;
    position: absolute;
    top: 9px !important;
    right: 9px !important;
    border-radius: 50% !important;
    background-image: none;
    background-color: transparent;
    border: 2px solid $pink !important;
    color: $pink;
    @media screen and (max-width: $small) {
      top: -23px;
      right: -2px;
    }
  }
  form {
    .btn {
      display: block;
      margin: 10px 0;
      @media screen and (max-width: $small) {
        width: 100%;
      }
    }
  }
}
