.director-details {
  @include box-container;
  padding: 20px;
  .row {
    position: relative;
    .back-btn {
      width: fit-content;
      position: absolute;
      top: 20px;
      right: 20px;
      border-radius: 50% !important;
      background-image: none;
      background-color: transparent;
      border: 2px solid $pink !important;
      color: $pink;
      @media screen and (max-width: $small) {
        top: 7px;
        right: 7px;
      }
    }
    .birthdate,
    .deathdate {
      span {
        font-weight: 600;
      }
      margin-bottom: 0;
    }
  }
}
