.movie-details {
  @include box-container;
  padding: 20px;
  @media screen and (max-width: $small) {
    padding: 40px 20px !important;
  }
  .movie-poster {
    max-width: 80%;
    @media screen and (max-width: $small) {
      margin-bottom: 30px;
    }
  }
  .movie-info {
    @media screen and (max-width: $small) {
      text-align: center;
      .movie-description {
        text-align: left;
      }
    }
    .release-date {
      span {
        font-weight: 600;
      }
    }
    .director {
      span {
        font-weight: 600;
        @media screen and (max-width: $small) {
          display: block;
        }
      }
    }
    .cast {
      float: left;
      font-weight: 600;
      @media screen and (max-width: $small) {
        float: none;
        margin-bottom: 0;
      }
    }

    .cast-list {
      list-style-type: none;
      display: inline-block;
      padding-left: 5px;
      li {
        float: left;
        &:after {
          content: ",";
          margin-right: 5px;
        }
        &:last-child:after {
          content: none;
        }
      }
      @media screen and (max-width: $small) {
        li {
          text-align: center;
          display: block;
          float: none;
          &:after {
            content: none;
          }
        }
      }
    }
  }
  .row {
    position: relative;
    .back-btn {
      width: fit-content;
      position: absolute;
      top: 20px;
      right: 20px;
      border-radius: 50% !important;
      background-image: none;
      background-color: transparent;
      border: 2px solid $pink !important;
      color: $pink;
      @media screen and (max-width: $small) {
        top: -23px;
        right: -2px;
      }
    }
  }
}

.add-to-watchlist-btn,
.add-to-favs-btn {
  @media screen and (max-width: $small) {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
}
