.login-wrapper {
  background-color: #27273f;
  padding: 40px 50px;
  border-radius: 20px;
  box-shadow: 5px 7px 9px #06060942;
  @media screen and (max-width: $x-small) {
    padding: 15px 25px;
  }
  .alert {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 15px;
  }
}
