html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  background-color: $bg-color !important;
  color: $text-color;
}

h1,
h2,
h3,
h4,
h5 {
  color: $title-color !important;
}

p,
label,
span,
li {
  color: $text-color !important;
}

a {
  color: $pink;
}

.btn {
  background-image: linear-gradient(90deg, $pink, $light-purple, $purple);
  background-color: none;
  border: 0 !important;
  border-radius: 10px !important;

  &.btn-link {
    background-image: none;
    color: $pink;
    &:active,
    &:focus,
    &:visited {
      color: $pink;
      outline: 0;
      border: 0;
      box-shadow: none;
    }
    &:hover {
      color: $light-purple;
      box-shadow: none;
      text-shadow: 0px 0px 10px $light-purple;
    }
  }
  &.btn-success,
  &.btn-primary {
    &:hover,
    &:focus {
      box-shadow: 0px 0px 15px $pink !important;
    }
  }
}
