//Color Scheme

$bg-color: #1b1a32;
$box-color: #27273f;
$box-shadow: #06060942;

//elements
$purple: #610cea;
$light-purple: #9b42f4;
$pink: #ec00af;
$magenta: #ff0072;

//text
$title-color: #fff;
$text-color: #a8a8ca;
$link-color: #c1c2ca;

$body-font: "Noto Sans Display", sans-serif;
$heading-font: "Oswald", sans-serif;

$x-small: 500px;
$small: 768px;
$medium: 992px;
$large: 1200px;
